n8n/Article Analysis Workflow.json
{
  "name": "Article Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f7fc948a-4ead-4cf3-8267-8292b0928dca",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        26896,
        19984
      ],
      "webhookId": "article-analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FIRECRAWL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.article_url }}\",\n  \"formats\": [\"markdown\"]\n}\n",
        "options": {
          "timeout": 60000
        }
      },
      "id": "6eff2467-1a53-4316-aac8-58fbfc54b9b7",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27120,
        19984
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ADPG9N8CyAauXoat",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert article summarizer. Summarize the given article in 3 to 5 clear, concise sentences. Focus on the main argument, key findings, and conclusion. Do not add any extra commentary. Return only the summary text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Please summarize the following article:\\n\\n\" + $('Firecrawl Scrape').item.json.data.markdown.substring(0, 12000)\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 512\n})\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "46ab6f6f-6a2a-4b38-8dec-b5fd0e409296",
      "name": "Groq Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27344,
        19984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert at extracting key insights from articles. Extract exactly 3 to 5 key insights from the article. Each insight should be a single actionable or noteworthy takeaway. Format your response as a numbered list, one insight per line. Do not add any extra commentary before or after the list.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract the key insights from the following article:\\n\\n\" + $('Firecrawl Scrape').item.json.data.markdown.substring(0, 12000)\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 512\n})\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "8100a6da-cab9-47b8-8b7d-3dbbd1b5cba4",
      "name": "Groq Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27568,
        19984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-session-id",
              "name": "session_id",
              "value": "={{ $('Webhook Trigger').item.json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "assign-email",
              "name": "email",
              "value": "={{ $('Webhook Trigger').item.json.body.email }}",
              "type": "string"
            },
            {
              "id": "assign-article-url",
              "name": "article_url",
              "value": "={{ $('Webhook Trigger').item.json.body.article_url }}",
              "type": "string"
            },
            {
              "id": "assign-summary",
              "name": "summary",
              "value": "={{ $('Groq Summarize').item.json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "assign-insights",
              "name": "insights",
              "value": "={{ $('Groq Insights').item.json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "assign-timestamp",
              "name": "timestamp",
              "value": "={{ (() => { const date = new Date(); const dhakaStr = date.toLocaleString('en-US', { timeZone: 'Asia/Dhaka' }); const d = new Date(dhakaStr); const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; const month = months[d.getMonth()]; const day = d.getDate(); const year = d.getFullYear(); let hours = d.getHours(); const minutes = String(d.getMinutes()).padStart(2, '0'); const ampm = hours >= 12 ? 'PM' : 'AM'; hours = hours % 12; hours = hours ? hours : 12; const hoursStr = String(hours).padStart(2, '0'); return month + ' ' + day + ', ' + year + '; ' + hoursStr + ':' + minutes + ampm; })() }}",
              "type": "string"
            },
            {
              "id": "assign-title",
              "name": "title",
              "value": "={{ $('Firecrawl Scrape').item.json.data?.metadata?.title || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4485575-be88-43a9-8ab6-9b8dac972fca",
      "name": "Merge Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        27792,
        19984
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID": "={{ $json.session_id }}",
            "Article URL": "={{ $json.article_url }}",
            "Summary": "={{ $json.summary }}",
            "Insights": "={{ $json.insights }}",
            "Email": "={{ $json.email }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Article URL",
              "displayName": "Article URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Insights",
              "displayName": "Insights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7401417b-eb42-4d98-99d5-8cffa9d75620",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        28016,
        19984
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wwlZ1jIgQAlFhR9e",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge Data').item.json.email }}",
        "subject": "=Your Article Analysis: {{ $('Merge Data').item.json.title || 'Ready' }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; background: #f5f5f4; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 32px auto; background: #fff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e4e2; }\n    .header { background: #1c1917; padding: 28px 32px; }\n    .header h1 { color: #fff; font-size: 20px; margin: 0; font-weight: 700; letter-spacing: -0.02em; }\n    .header p { color: #a8a29e; font-size: 13px; margin: 6px 0 0; }\n    .body { padding: 28px 32px; }\n    .section-label { font-size: 11px; font-weight: 700; color: #a8a29e; text-transform: uppercase; letter-spacing: 0.08em; margin-bottom: 10px; }\n    .section-content { background: #f5f5f4; border-radius: 8px; padding: 16px 18px; margin-bottom: 24px; font-size: 14px; color: #1c1917; line-height: 1.7; border: 1px solid #e5e4e2; white-space: pre-line; }\n    .meta { font-size: 12px; color: #78716c; margin-bottom: 24px; padding: 12px 16px; background: #fffbeb; border-radius: 8px; border: 1px solid #fde68a; }\n    .footer { padding: 16px 32px; border-top: 1px solid #e5e4e2; }\n    .footer p { font-size: 11px; color: #a8a29e; margin: 0; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Article AI Analysis</h1>\n      <p>Your article has been analyzed by our AI workflow.</p>\n    </div>\n    <div class=\"body\">\n      <div class=\"meta\">\n        <strong>Session ID:</strong> {{ $('Merge Data').item.json.session_id }}<br>\n        <strong>Article:</strong> <a href=\"{{ $('Merge Data').item.json.article_url }}\" style=\"color: #2563eb; text-decoration: none;\">{{ $('Merge Data').item.json.title || $('Merge Data').item.json.article_url }}</a><br>\n        <strong>Submitted At:</strong> {{ $('Merge Data').item.json.timestamp }}\n      </div>\n      <div class=\"section-label\">Summary</div>\n      <div class=\"section-content\">{{ $('Merge Data').item.json.summary }}</div>\n      <div class=\"section-label\">Key Insights</div>\n      <div class=\"section-content\">{{ $('Merge Data').item.json.insights }}</div>\n    </div>\n    <div class=\"footer\">\n      <p>This email was generated automatically by Article AI.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a2044f70-72d3-4b55-8214-4f9f034cc32e",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        28240,
        19984
      ],
      "webhookId": "a1a074bc-08f3-42f6-bcf9-3a60b6d96455",
      "credentials": {
        "gmailOAuth2": {
          "id": "Yx74WOUjsLuij1kh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Article processed and email sent.', title: $('Merge Data').item.json.title }) }}",
        "options": {}
      },
      "id": "11b9f9b0-7bbc-4602-81e6-8c39125a0a4c",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        28464,
        19984
      ]
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "connection": "keep-alive",
            "user-agent": "python-httpx/0.27.0",
            "content-length": "165",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "user@example.com",
            "article_url": "https://example.com/some-article",
            "session_id": "2e98ec7a-7a2e-4faa-8caf-88f5eb2b5671"
          },
          "webhookUrl": "http://localhost:5678/webhook/article-analysis",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Groq Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Summarize": {
      "main": [
        [
          {
            "node": "Groq Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Insights": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "351deb22-174e-4bf2-819e-cf7f826e8055",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e753089fb5535eaa0b77de498aa23daea0e8dc55f9c045b442203d865119db39"
  },
  "id": "JtRM3Z0UEdZ8XdUN",
  "tags": []
}